@{
    ViewBag.Title = "Calendario";
}

@{
    ViewBag.Title = "Home Page";
}

<section class="seccion contenedor">
    
        <div >
            <div>
                <h2>CALENDARIO DE EVENTOS</h2>
                <table class="seccion contenedor" border="1" >
                    <thead>
                        <p><i class="fa fa-calendar"></i> viernes, 09 de diciembre del 2016</p>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="detalle-evento">
                                    <h5 style="color:#fe4918; text-align:center">RESPONSIVE WEB DESIGN</h5>
                                    <p><i class="fa fa-clock"></i>2016-12-09 10:00:00</p>
                                    <p><i class="fa fa-code"></i>Talleres</p>
                                    <p><i class="fa fa-user"></i> Rafael Bautista</p>
                                </div>
                            </td>
                            <td>
                                <div class="detalle-evento">
                                    <h5 style="color:#fe4918; text-align:center">FLEXBOX</h5>
                                    <p><i class="fa fa-clock"></i>2016-12-09 12:00:00</p>
                                    <p><i class="fa fa-code"></i>Talleres</p>
                                    <p><i class="fa fa-user"></i>Shari Herrera</p>
                                </div>
                            </td>
                            <td>
                                <div class="detalle-evento">
                                    <h5 style="color:#fe4918; text-align:center">HTML5 Y CSS3</h5>
                                    <p><i class="fa fa-clock"></i>2016-12-09 14:00:00</p>
                                    <p><i class="fa fa-code"></i>Talleres</p>
                                    <p><i class="fa fa-user"></i>Gregorio Sanchez</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="detalle-evento">
                                    <h5 style="color:#fe4918; text-align:center">DRUPAL</h5>
                                    <p><i class="fa fa-clock"></i>2016-12-09 17:00:00</p>
                                    <p><i class="fa fa-code"></i>Talleres</p>
                                    <p><i class="fa fa-user"></i>Susana Rivera</p>
                                </div>
                            </td>
                            <td>
                                <div class="detalle-evento">
                                    <h5 style="color:#fe4918; text-align:center">WORDPRESS</h5>
                                    <p><i class="fa fa-clock"></i>2016-12-09 19:00:00</p>
                                    <p><i class="fa fa-code"></i>Talleres</p>
                                    <p><i class="fa fa-user"></i>Harold Garcia</p>
                                </div>
                            </td>
                            <td>
                                <div class="detalle-evento">
                                    <h5 style="color:#fe4918; text-align:center">COMO SER FREELANCER</h5>
                                    <p><i class="fa fa-clock"></i>2016-12-09 10:00:00</p>
                                    <p><i class="fa fa-code"></i>Seminarios</p>
                                    <p><i class="fa fa-user"></i>Susan Sanchez</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="detalle-evento">
                                    <h5 style="color:#fe4918; text-align:center">TECNOLOGÍAS DEL FUTURO</h5>
                                    <p><i class="fa fa-clock"></i>2016-12-09 17:00:00</p>
                                    <p><i class="fa fa-code"></i>Seminarios</p>
                                    <p><i class="fa fa-user"></i>Rafael Bautista</p>
                                </div>
                            </td>
                            <td>
                                <div class="detalle-evento">
                                    <h5 style="color:#fe4918; text-align:center">SEGURIDAD EN LA WEB</h5>
                                    <p><i class="fa fa-clock"></i>2016-12-09 19:00:00</p>
                                    <p><i class="fa fa-code"></i>Seminarios</p>
                                    <p><i class="fa fa-user"></i>Shari Herrera</p>
                                </div>
                            </td>
                            <td>
                                <div class="detalle-evento">
                                    <h5 style="color:#fe4918; text-align:center">DISEÑO UI Y UX PARA MÓVILES</h5>
                                    <p><i class="fa fa-clock"></i>2016-12-09 10:00:00</p>
                                    <p><i class="fa fa-code"></i>Seminarios</p>
                                    <p><i class="fa fa-user"></i>Susan Sanchez</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="seccion contenedor" border="1">
                    <thead>
                        <p><i class="fa fa-calendar"></i>sábado, 10 de diciembre del 2016</p>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="detalle-evento">
                                    <h5 style="color:#fe4918; text-align:center">ANGULAR JS</h5>
                                    <p><i class="fa fa-clock"></i>2016-12-10 10:00:00</p>
                                    <p><i class="fa fa-code"></i>Talleres</p>
                                    <p><i class="fa fa-user"></i> Rafael Bautista</p>
                                </div>
                            </td>
                            <td>
                                <div class="detalle-evento">
                                    <h5 style="color:#fe4918; text-align:center">PHP Y MYSQL</h5>
                                    <p><i class="fa fa-clock"></i>2016-12-10 12:00:00</p>
                                    <p><i class="fa fa-code"></i>Talleres</p>
                                    <p><i class="fa fa-user"></i>Shari Herrera</p>
                                </div>
                            </td>
                            <td>
                                <div class="detalle-evento">
                                    <h5 style="color:#fe4918; text-align:center">JAVASCRIPT AVANZADO</h5>
                                    <p><i class="fa fa-clock"></i>2016-12-10 14:00:00</p>
                                    <p><i class="fa fa-code"></i>Talleres</p>
                                    <p><i class="fa fa-user"></i>Gregorio Sanchez</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="detalle-evento">
                                    <h5 style="color:#fe4918; text-align:center">SEO EN GOOGLE</h5>
                                    <p><i class="fa fa-clock"></i>2016-12-10 17:00:00</p>
                                    <p><i class="fa fa-code"></i>Talleres</p>
                                    <p><i class="fa fa-user"></i>Susana Rivera</p>
                                </div>
                            </td>
                            <td>
                                <div class="detalle-evento">
                                    <h5 style="color:#fe4918; text-align:center">DE PHOTOSHOP A HTML5 Y CSS3</h5>
                                    <p><i class="fa fa-clock"></i>2016-12-10 19:00:00</p>
                                    <p><i class="fa fa-code"></i>Talleres</p>
                                    <p><i class="fa fa-user"></i>Harold Garcia</p>
                                </div>
                            </td>
                            <td>
                                <div class="detalle-evento">
                                    <h5 style="color:#fe4918; text-align:center">PHP INTERMEDIO Y AVANZADO</h5>
                                    <p><i class="fa fa-clock"></i>2016-12-10 21:00:00</p>
                                    <p><i class="fa fa-code"></i>Seminarios</p>
                                    <p><i class="fa fa-user"></i>Susan Sanchez</p>
                                </div>
                            </td>
                        </tr>                      
                    </tbody>
                </table>
            </div>
            <!--Programa-eventos-->

        </div>
        <!--Contenedor-->
    
    <<!--Contenido-progama-->
</section>