
@{
    ViewBag.Title = "Invitados";
}

@{
    ViewBag.Title = "Home Page";
}

<!-- Add your site or application content here -->



<section class="invitados contenedor seccion">
    <h2>Nuestros Invitados</h2>
    <ul class="lista-invitados clearfix">
        <li>
            <div class="invitado">
                <img src="~/img/invitado1.jpg" alt="imagen invitado">
                <p>Rafael Bautista</p>
            </div>
        </li>

        <li>
            <div class="invitado">
                <img src="~/img/invitado2.jpg" alt="imagen invitado">
                <p>Shari Herrera</p>
            </div>
        </li>
        <li>
            <div class="invitado">
                <img src="~/img/invitado3.jpg" alt="imagen invitado">
                <p>Gregorio Sanches</p>
            </div>
        </li>
        <li>
            <div class="invitado">
                <img src="~/img/invitado4.jpg" alt="imagen invitado">
                <p>Susana Rivera</p>
            </div>
        </li>
        <li>
            <div class="invitado">
                <img src="~/img/invitado5.jpg" alt="imagen invitado">
                <p>Rafael Bautista</p>
            </div>
        </li>
        <li>
            <div class="invitado">
                <img src="~/img/invitado6.jpg" alt="imagen invitado">
                <p>Susan Sanchez</p>
            </div>
        </li>
    </ul>
</section>

<div class="contador parallax">
    <div class="contenedor">
        <ul class="resumen-evento clearfix">
            <li>
                <p class="numero">0</p> Invitados
            </li>
            <li>
                <p class="numero">0</p> Talleres
            </li>
            <li>
                <p class="numero">0</p> Dias
            </li>
            <li>
                <p class="numero">0</p> Conferencias
            </li>
        </ul>
    </div>
</div>



<section class="seccion">
    <h2>Testimoniales</h2>
    <div class="testimoniales contenedor clearfix">
        <div class="testimonial">
            <blockquote>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus laudantium ipsum tempore omnis culpa excepturi
                </p>
                <footer class="info-testimonial clearfix">
                    <img src="~/img/testimonial.jpg" alt="imagen testimonial">
                    <cite>Oswaldo Aponte Escobedo <span>Diseñador en prisma</span></cite>
                </footer>
            </blockquote>
        </div>
        <!--Testimonial-->

        <div class="testimonial">
            <blockquote>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus laudantium ipsum tempore omnis culpa excepturi
                </p>
                <footer class="info-testimonial clearfix">
                    <img src="~/img/testimonial.jpg" alt="imagen testimonial">
                    <cite>Oswaldo Aponte Escobedo <span>Diseñador en prisma</span></cite>
                </footer>
            </blockquote>
        </div>
        <!--Testimonial-->
        <div class="testimonial">
            <blockquote>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus laudantium ipsum tempore omnis culpa excepturi
                </p>
                <footer class="info-testimonial clearfix">
                    <img src="~/img/testimonial.jpg" alt="imagen testimonial">
                    <cite>Oswaldo Aponte Escobedo <span>Diseñador en prisma</span></cite>
                </footer>
            </blockquote>
        </div>
        <!--Testimonial-->
    </div>
</section>



<section class="seccion">
    <h2>Falta</h2>
    <div class="cuenta-regresiva contenedor">
        <ul class="clearfix">
            <li>
                <p id="dias" class="numero"></p>Días
            </li>
            <li>
                <p id="horas" class="numero"></p>horas
            </li>
            <li>
                <p id="minutos" class="numero"></p>minutos
            </li>
            <li>
                <p id="segundos" class="numero"></p>segundos
            </li>
        </ul>
    </div>
</section>

